[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "==3.0.10"
flask-migrate = "*"
sqlalchemy = "==1.4.46"
alembic = "*"
werkzeug = "==2.0.3"
python-dotenv = "*"
plaid = "*"
plaid-python = "*"
flask-sqlalchemy-stubs = "*"
gunicorn = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.12"
